.carousel__slide-item {
  height: 400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.carousel__slide-item img {
  width: 100%;
  height: 400px;
}

.carousel_slide-item--content {
  position: absolute;
  transition: 0;
  transform: translate(5%);
  width: 70%;
}

.carousel__slide-item--title {
  width: 40%;
  font-weight: 400;
}
.carousel__slide-item--desc {
  width: 80%;
}

.slide_out_forward {
  animation: slide_out_right;
  animation-duration: 0.5s;
}

.slide_in_forward {
  animation: slide_in_right;
  animation-duration: 0.5s;
}

.slide_out_backward {
  animation: slide_out_left;
  animation-duration: 0.5s;
}

.slide_in_backward {
  animation: slide_in_left;
  animation-duration: 0.5s;
}

@keyframes slide_out_left {
  from {
    transform: translate(0);
    opacity: 1;
  }
  to {
    transform: translate(100%);
    opacity: 0;
  }
}

@keyframes slide_in_left {
  from {
    transform: translate(-100%);
    opacity: 0;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes slide_out_right {
  from {
    opacity: 1;
    transform: translate(0);
  }
  to {
    opacity: 0;
    transform: translate(-100%);
  }
}

@keyframes slide_in_right {
  from {
    opacity: 0;
    transform: translate(100%);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}
