body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-transparent: #ffffff00;

  --color-grey-light: #f7f7f7;
  --color-grey-dark: #696969;
  --color-slate-dark: #29303b;
  --color-blue-light: #1dace3;
  --color-pink-dark: #e9327c;
  --color-blue-dark: #001a49;
  /* 
  media querries break points */
  --screen-tn-max: 450px;
  --screen-sm-max: 596px;
  --screen-md-max: 768px;
  --screen-lg-max: 992px;
}
